
#div1{
    width: 200px; /*宽度； px（像素）*/
    height: 50px;
}
.red{
    color: #ff0000;
}
#div2,#div3{
    width: 100px;
    height: 100px;
}

#ul1 li{
    background: #ff00ff;
}

#div6 span{
    background: #ff0000;
}