<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="div1">
            {{msg}}
            <div v-if="isLogin">vue</div>
            <div v-else=>please login</div>

            <div v-show="isLogin">v-show指令</div>

            <div v-if="str=='A'">A</div>
            <div v-else-if="str=='B'">B</div>
            <div v-else>C</div>
        </div>
        <script src="vue.js"></script>
        <script>
            new Vue({
                el:'#div1', //挂载元素 限定当前操作范围
                data:{
                    msg:'Hello, world!',
                    isLogin:false,
                    str:"A"

                }
            });
        </script>
</body>
</html>